html {
	/* font-size: 18px; */
	/* font-size: clamp(18px, 1rem + .4vw, 24px); */
	font-size: clamp(18px, 0.875rem + 2vw, 28px);
	line-height: 1.5;
	font-family: cinetype, system-ui, segoe ui, sans-serif;
	background-color: #f0f0f0;
	color: #1a1a1a;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
	margin: 1rem 0 0.5rem;
}

h3 {
	font-size: 1rem;
	margin: 0;
	font-weight: 400;
}


body {
	margin: 1rem;
}

figure {
	margin-left: 0;
	margin-right: 0;
}

img {
	max-width: 100%;
	vertical-align: bottom;
}

.Mono {
	font-family: cinetype-mono, monospace;
	font-size: 0.75em;
}

.Logo svg {
	font-size: 4rem;
	width: 1em;
	height: 1em;
}

.Teaser {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 30ch;
}
.Teaser h3 {
	margin-left: 1em;
	background: black;
}
.Teaser a {
	text-decoration: none;
	color: white;
	padding-right: 0.3em;
}
.Teaser a:hover {
	background: none;
	color: initial;
}
.Teaser img {
	vertical-align: bottom;
	margin-right: 0.2em;
	height: 1.5em;
}
.Teaser .Mono {
	margin-left: 1rem;
}

.Duo {
	/* min-height: 100vh; */
	display: flex;
	flex-flow: column nowrap;
	flex-direction: column;
}
.Duo-first {
	/* background: #000; */
}
@media (min-width: 1000px) {
	.Duo {
		flex-direction: row;
	}
	.Duo-first {
		/* position: fixed; */
		width: 50%;
		flex: 1;
	}
	.Duo-second {
		width: 50%;
		margin-left: auto;
		display: flex;
		flex-flow: column nowrap;
		padding-left: 2em;
	}
}

@font-face {
	font-family: cinetype;
	font-weight: 400;
	src: url(https://res.cloudinary.com/strrr/raw/upload/v1491471067/gt-cinetype-regular_wl6yht.woff)
		format('woff');
}
@font-face {
	font-family: cinetype;
	font-weight: 400;
	font-style: italic;
	src: url(https://res.cloudinary.com/strrr/raw/upload/v1491471067/gt-cinetype-regular-italic_anxcuw.woff)
		format('woff');
}
@font-face {
	font-family: cinetype;
	font-weight: 700;
	src: url(https://res.cloudinary.com/strrr/raw/upload/v1491471068/gt-cinetype-bold_nmm0ve.woff)
		format('woff');
}
@font-face {
	font-family: cinetype;
	font-weight: 700;
	font-style: italic;
	src: url(https://res.cloudinary.com/strrr/raw/upload/v1491471067/gt-cinetype-bold-italic_bte4kh.woff)
		format('woff');
}
@font-face {
	font-family: cinetype-mono;
	font-style: normal;
	src: url(https://res.cloudinary.com/strrr/raw/upload/v1491471067/gt-cinetype-mono_wfipod.woff)
		format('woff');
}
