---
layout: base.njk
title: STRRR
---

{% for season in seasons -%}
	<h2>Season {{forloop.index}}</h2>

	{% for show in season -%}
	<article class="Teaser">
		<span class="Mono">{{ show.season-number }}/{{show.episode-number }}</span> 
		<a href="/shows/{{show.id}}">
			<img height="24" loading="lazy" src="https://res.cloudinary.com/strrr/image/upload/c_thumb,f_auto,q_auto:good,w_600,ar_16:10,e_sharpen:75/{{show.image}}" alt={{show.title}}>
			{{ show.title}}
		</a>
	</article>
	{% endfor %}
{% endfor %}
